# Configurações do Firebase para o Damas Royale
# Crie uma cópia deste arquivo com o nome ".env" para preencher localmente se necessário.
# Use estas chaves e valores para cadastrar no painel de "Environment Variables" do Vercel.

FIREBASE_API_KEY=AIzaSyBF_88G1xlTtxnD18LtPK7oZcVlKJ9n5DY
FIREBASE_AUTH_DOMAIN=damasroyale.firebaseapp.com
FIREBASE_PROJECT_ID=damasroyale
FIREBASE_STORAGE_BUCKET=damasroyale.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=635314584705
FIREBASE_APP_ID=1:635314584705:web:55aa7709970d8580dee180
FIREBASE_MEASUREMENT_ID=G-H295N1KDM8
